[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = false

[requires]
python_version = "*"

[packages]
flask = "*"
tensorflow = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest-cov = "*"
v = {editable = true,version = "*"}

[pipenv]
allow_prereleases = true
